.gallery {
    text-align: center;
}

.mainGalleryDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title h4 {
    text-align: center;
    margin: 0.5rem 0;
    padding: 0;
}

.galleryItem {
    margin: 3rem;
}

.likesDiv {
    display: flex;
    justify-content: center;
}

.likesDiv > * {
    margin: 0 5px;
}

.photoDiv img {
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.clickedDiv {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(219, 219, 219);
    width: 147px;
    height: 145px;
    border-radius: 5px;
    padding: 5px 3px;
    font-size: 12px;
    cursor: pointer;
}

.likesDiv {
    align-items: center;
    font-size: 1.2rem;
}
#like {
    cursor: pointer;
    font-size: 1.5rem;
}